<body>
    <div id="signup-wrapper">
        <div id="signupHeader">
            Sign Up Page
        </div>
        <div id="signup-form-wrapper" ng-controller="SignupController">
            <form>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" ng-model="username"><br>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" ng-model="email"><br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" ng-model="password"><br>
                <input type="button" value="Sign Up" ng-click="signup()">
                <div class="errors">{{message}}</div>
            </form>

            <div class="loginSignupSwitch">
                <a href="#!/login"> Login</a>
            </div>
        </div>
    </div>
</body>